body {
  background-color: grey;
}

.contenedor {
  background-color: goldenrod;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  min-height: 5rem;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  background-color: salmon;
  padding: 0.25rem;
  width: 10rem;
}

.item2 {
  align-self: stretch;
}

.item4 {
    align-self: stretch;
  }
