.padre {
  width: 400px;
  height: 400px;
  background-color: rgb(3, 3, 56);
}

#hijo {
  color: black;
  width: 50%;
  height: 50%;
  background-color: beige;
  border-radius: 50%;
  animation: cambio infinite alternate 5s;

}

.padre:hover #hijo {
    animation-play-state: paused;
}

@keyframes cambio {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(100%) translateY(0%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateX(0%) translateY(100%);
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}
